
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background-repeat:  no-repeat;
    width: 20px;
    height: 20px;

}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 1%;
}
input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
 
    padding-left: 10%;
}
input::-webkit-datetime-edit {
    position: relative;
    padding-left: 10%;
}