/* For screens larger than 600px */
@media (min-width: 601px) {
    .text-right-lg {
      text-align: left;
    }
  }
  
  /* CSS for screens less than 600px wide */
  @media (max-width: 600px) {
    .col-12.col-sm-12 {
      flex-direction: column;
      width: 100%;
      padding-left: 0rem;
    }
  
    .text-right-lg {
      text-align: left;
      padding-bottom: 0.5rem;
    }
  
    .flex-wrap {
      flex-direction: column; /* Stack columns on top of each other */
    }

    .col-12.col-sm-8.d-flex.p-0 {
      flex-direction: column;
      width: 100%;
    }
  }

  .custom-font-size {
    font-size: 1.15rem;
  }
  